.chat {
    height      : 100vh;
    margin      : 0 auto;
    font-family : Helvetica Neue, Helvetica, Arial, sans-serif;

    div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
        margin  : 0;
        padding : 0;
    }

    .chat-inner {
        height: 100%;
    }

    ul, ol {
        margin-left   : 1.25rem;
        margin-bottom : 0;
    }

    ul, ol, dl {
        list-style-position : outside;
        line-height         : 1.6;
    }
    p {
        line-height : $paragraph-lineheight;
        margin-bottom : $paragraph-margin-bottom;
    }

    .chat-scroll-container {
        overflow-x : hidden;
        overflow-y : scroll;
        height     : calc(100% - 100px);
    }

    .chat-message-list {
        padding : 1rem 1rem;
        //border  : 1px solid $light-gray;
    }
}

.chat.debug {
    .chat-inner {
        width: 70%;
    }
    .chat-analysis {
        font-size: 15px;
        width: 30%;
        position:absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #eee;
        border-radius : 10px;
        overflow-y    : auto;

        .message {
            font-weight: bold;
        }

        .info {
            padding    : .5rem 1rem;
            color      : #666;
            font-size  : 12px;
            text-align : right;
        }

        ul {
            list-style: none;
            margin-left: 0;
            li {
                border-bottom : 1px solid #999;
                padding       : .5rem;
            }
        }
    }
}

#sample-section {
    margin-top: 200px;
}
