.chat-message-input {
    .dummy-input,
    input[type="text"] {
        border         : none;
        outline        : none;
        background     : transparent;
        font-size      : 1rem;
        color          : #323232;
        letter-spacing : 0.015rem;
        line-height    : 1.3125rem;
        height         : 2.5rem;
        max-width      : 100%;
        display        : inline-block;
        margin-bottom  : -0.125rem;
        box-shadow     : none;
        padding        : 0 2px;
        border-bottom : 4px solid #ddd;
        width: 100%;
        transition : border-bottom .3s ease-in;

        &.underline {
            transition: border-bottom .3s ease-in;
            border-bottom : 4px solid #00B4A0;
        }
        &::placeholder {
            color   : #B5B5B5;
            opacity : 1;
        }
    }

    .send-button {
        color: #aaa;
        font-size: 40px;
        transition : all .1s ease-in;
        &:hover {
            transition : all .1s ease-in;
            color: #333;
        }
    }

    .inputOutline {
        width: 80%;
        margin: 0 auto;
        display:flex;
    }

}